.add {
    margin: 20px;
    padding: 5px;
    font-size:large;
}
h1 {
display: flex;
align-items: center;
justify-content: center;
font-weight: bolder;
font-size: xx-large;
font-family: fantasy;
margin: 20px;
}

