form {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 250px;
    padding: 40px;
    width: 400px;
}
.login {
    color: white;
    padding-left: 17px;
    padding-bottom: 10px;
}