mat-form-field {
  padding: 5px;
}

.rightFloat {
  float: right;
}
.orderSubmit {
  float: right;
}
table {
  width: 100%;
}
mat-card .orderSubmit {
  padding-bottom: 30px !important;
  margin: 75px;
}
.titleSpan {
  margin: 40px;
}

.marginManage {
  align-content: center !important;
}
